{% extends "base.html" %}

{% block title %}Delete Bookmark{% endblock %}

{% block content %}
	<h1>DELETE BOOKMARK</h1>

	<!-- Details of particular bookmark (start) -->
	<div id="delete-bookmark">
		<p>NAME:</p>
		<p>{{ bookmark_info[0][1] }}</p>
		<p>CATEGORY:</p>
		<p>{{ bookmark_info[0][2] }}</p>
		<p>URL:</p>
		<p><a href="{{ bookmark_info[0][3] }}" target="_blank">{{ bookmark_info[0][3] }}</a></p>
		<p>NOTES:</p>
		<p>{{ bookmark_info[0][4] }}</p>
	</div>
	<!-- Details of particular bookmark (end) -->

	<!-- Section for double-checking if user really wants to delete particular bookmark (start) -->
	<div id="delete-bookmark-question">
		<p>Are you sure you want to delete this bookmark?</p>
		<form method="POST">
			<button type="submit">YES</button>
			<input type="hidden" name="hidden_bookmark_id" value="{{ bookmark_info[0][0] }}" />
			<input type="hidden" name="delete_bookmark_yes" value="delete_bookmark_yes" />
		</form>
		<div class="return-button">
			<a href="/my-bookmarks">NO</a>
		</div>
	</div>
	<!-- Section for double-checking if user really wants to delete particular bookmark (end) -->
{% endblock %}