{% extends "base.html" %}

{% block title %}Delete Bookmark{% endblock %}

{% block content %}
	<h1>Delete Bookmark page</h1>
	<p>ID: {{ bookmark_info[0][0] }}</p>
	<p>Name: {{ bookmark_info[0][1] }}</p>
	<p>Category: {{ bookmark_info[0][2] }}</p>
	<p>URL: {{ bookmark_info[0][3] }}</p>
	<p>Notes: {{ bookmark_info[0][4] }}</p>
	<p>Are you sure you want to delete this bookmark?</p>
	<form method="POST">
		<button type="submit">Yes</button>
		<input type="hidden" name="hidden_bookmark_id" value="{{ bookmark_info[0][0] }}" />
		<input type="hidden" name="delete_bookmark_yes" value="delete_bookmark_yes" />
	</form>
	<a href="/my-bookmarks">No</a>
{% endblock %}