{% extends "base.html" %}

{% block title %}Edit Bookmark{% endblock %}

{% block content %}
	<h1>EDIT BOOKMARK</h1>

	<!-- Section for displaying flash messages (start) -->
	{% with messages = get_flashed_messages(with_categories=true) %} 
		{% if messages %}
			{% for category, message in messages %}
				{% if category == 'error' %}
					<div class="flash-error">
						{{ message }}
					</div>
				{% elif category == 'success' %}
					<div class="flash-success">
						{{ message }}
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endwith %}
	<!-- Section for displaying flash messages (end) -->

	<!-- Bookmark's edit form (start) -->
	<form method="POST" autocomplete="off">
		<div>
			<label for="name">NAME:</label>
			<input type="text" id="name" name="name" value="{{ bookmark_info[0][1] }}" />
		</div>
		<div>
			<label for="category">CATEGORY:</label>
			<input type="text" id="category" name="category" value="{{ bookmark_info[0][2] }}" />
		</div>
		<div>
			<label for="url">URL:</label>
			<input type="text" id="url" name="url" value="{{ bookmark_info[0][3] }}" />
		</div>
		<div>
			<label for="note">NOTE:</label>
			<textarea name="note" id="note">{{ bookmark_info[0][4] }}</textarea>
		</div>
		<div>	
			<button type="submit">EDIT</button>
			<input type="hidden" name="hidden_bookmark_id" value="{{ bookmark_info[0][0] }}" />
		</div>
	</form>
	<!-- Bookmark's edit form (end) -->

	<!-- "RETURN" button (My Bookmarks page) (start)-->
	<div class="return-button">
		<a href="/my-bookmarks">RETURN</a>
	</div>
	<!-- "RETURN" button (My Bookmarks page) (end) -->
{% endblock %}