{% extends "base.html" %}

{% block title %}New Bookmark{% endblock %}

{% block content %}
	<h1>NEW BOOKMARK</h1>

	<!-- Section for displaying flash messages (start) -->
	{% with messages = get_flashed_messages(with_categories=true) %} 
		{% if messages %}
			{% for category, message in messages %}
				{% if category == 'error' %}
					<div class="flash-error">
						{{ message }}
					</div>
				{% elif category == 'success' %}
					<div class="flash-success">
						{{ message }}
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endwith %}
	<!-- Section for displaying flash messages (start) -->

	<!-- New bookmark's form (start) -->
	<form method="POST" autocomplete="off">
		<div>
			<label for="name">NAME:</label>
			<input type="text" id="name" name="name" />
		</div>
		<div>
			<label for="category">CATEGORY:</label>
			<input type="text" id="category" name="category" />
		</div>
		<div>
			<label for="url">URL:</label>
			<input type="text" id="url" name="url" />
		</div>
		<div>
			<label for="note">NOTE:</label>
			<textarea name="note" id="note"></textarea>
		</div>
		<div>	
			<button type="submit">ADD</button>
		</div>
	</form>
	<!-- New bookmark's form (end) -->

	<!-- "RETURN" button (My Bookmarks page) (start)-->
	<div class="return-button">
		<a href="/my-bookmarks">RETURN</a>
	</div>
	<!-- "RETURN" button (My Bookmarks page) (end)-->
{% endblock %}