{% extends "base.html" %}

{% block title %}View Bookmark{% endblock %}

{% block content %}
	<h1>VIEW BOOKMARK</h1>

	<!-- Details of particular bookmark (start) -->
	<div id="view-bookmark">
		<p>NAME:</p>
		<p>{{ bookmark_info[0][1] }}</p>
		<p>CATEGORY:</p>
		<p>{{ bookmark_info[0][2] }}</p>
		<p>URL:</p>
		<p><a href="{{ bookmark_info[0][3] }}" target="_blank">{{ bookmark_info[0][3] }}</a></p>
		<p>NOTES:</p>
		<p>{{ bookmark_info[0][4] }}</p>
	</div>
	<!-- Details of particular bookmark (end) -->

	<!-- "RETURN" button (My Bookmarks page) (start)-->
	<div class="return-button">
		<a href="/my-bookmarks">RETURN</a>
	</div>
	<!-- "RETURN" button (My Bookmarks page) (end)-->
{% endblock %}