{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
	<h1>ABOUT</h1>
	<div id="about-main-container">
		<div>
			<p>The Strainer is a super fast and efficient online Bookmark Manager. It was created to help you organize and use your favourite websites and online resources. Wherever you go and with any web browser of your choice.</p>
			<p>Using Strainer is really easy. All you have to do is:</p>
		</div>
		<div>
			<img src="static/images/about_1.png" />
			<p>1. Create your <a href="/register">account</a>.</p>
		</div>
		<div>
			<img src="static/images/about_2.png" />
			<p>2. Find an interesting website.</p>
		</div>
		<div>
			<img src="static/images/about_3.png" />
			<p>3. Add it to your Bookmarks.</p>
		</div>
		<div>
			<img src="static/images/about_4.png" />
			<p>You can now use it anytime and from any place or device, you want.</p>
		</div>
		<div>
			<img src="static/images/about_5.png" />
			<p>We will really appreciate any feedback or suggestions on how to improve Strainer. Please, <a href="/contact">let us know</a> about any options or features that you think are missing here. We want it to be as efficient and user-friendly Bookmark Manager as possible!</p>
		</div>
	</div>
{% endblock %}