{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
	<h1>LOGIN</h1>

	<!-- Section for displaying flash messages (start) -->
	{% with messages = get_flashed_messages(with_categories=true) %} 
		{% if messages %}
			{% for category, message in messages %}
				{% if category == 'error' %}
					<div class="flash-error">
						{{ message }}
					</div>
				{% elif category == 'success' %}
					<div class="flash-success">
						{{ message }}
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endwith %}
	<!-- Section for displaying flash messages (end) -->

	<!-- Login form (start) -->
	<form method="POST" autocomplete="off">
		<div>
			<label for="email">EMAIL:</label>
			<input type="email" id="email" name="email" />
		</div>
		<div>
			<label for="password">PASSWORD:</label>
			<input type="password" id="password" name="password" />
		</div>
		<div>
			<button type="submit">LOGIN</button>
		</div>
	</form>
	<!-- Login form (end) -->
{% endblock %}