<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<title>{% block title %}Base{% endblock %}</title>
	</head>
	<body>
		<nav>
			<div>
				<div>
					{% if (session['logged'] != True) %}
						<a href="/">Home</a>
						<a href="/about">About</a>
						<a href="/login">Login</a>
						<a href="/register">Register</a>
					{% else %}
						<a href="/">Home</a>
						<a href="/my-bookmarks">My Bookmarks</a>
						<a href="/account">Account</a>
						<a href="/logout">Logout</a>
					{% endif %}
				</div>
			</div>
		</nav>
		{% with messages = get_flashed_messages(with_categories=true) %} 
			{% if messages %}
				{% for category, message in messages %}
					{% if category == 'error' %}
						<div style="color:red;">
							{{ message }}
						</div>
					{% elif category == 'success' %}
						<div style="color:green;">
							{{ message }}
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endwith %}
		<div>
			{% block content %}Base{% endblock %}
		</div>
		<footer>
			<div>
				<div>
					<a href="/contact">Contact</a>
					<a href="/privacy">Privacy</a>
				</div>
			</div>
		</footer>
	</body>
</html>